@import "tailwindcss";
@plugin "daisyui";

body {
    background-color: #F4EEFF;
}

h1,label{
    color: #424874;
}

input:focus, textarea:focus, select:focus {
  outline: none !important;
  border-color: #374151; /* darker border */
  border-width: 2px;     /* thicker border */
}


